extends layout
block styles
	link(rel='stylesheet', href='stylesheets/adminlogin.css')
block content
	div.sysnamecontent
		span.sysname 饱了么订餐管理系统
	div.container
		form.form-horizontal
			.form-group
				label.col-sm-5.control-label(for='username') 用户名
				.col-sm-2#usernameWarn
					input#username.form-control.col-lg-sm(type='text', placeholder='用户名', name='username')
					span.help-block#usernameWarnText 用户名不能为空！
			.form-group
				label.col-sm-5.control-label(for='password') 密码
				.col-sm-2#passwordWarn
					input#password.form-control(type='password', placeholder='密码', name='password')
					span.help-block#passwordWarnText 密码不能为空!
			.form-group
				.col-sm-offset-5.col-sm-5
					button.btn.btn-success#login(type='button') 登录
block javascripts
	script(src='/javascripts/adminlogin.js')