doctype html
html
  head
    title 饱了么后台管理系统
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    block styles
  body
    block content
    script(src='/bower_components/jquery/dist/jquery.min.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
    block javascripts
