block newOrders
    .panel.panel-default
        .panel-body
            span 账户名:游戏中别叫我
            span 下单时间：2017-3-9 19:19
            span 确认处理
                a(href='javascript:0') 确认
        .panel-footer
            ul
                li 米饭一份
                li 黄焖鸡米饭
                li 可乐一瓶
            p 送餐地址：辽宁省大连市旅顺口区大连交通大学12号楼816宿舍